[submodule "metamod"]
	path = metamod
	url = https://github.com/hzqst/metamod-fallguys
[submodule "mmlib"]
	path = mmlib
	url = https://github.com/wootguy/mmlib
[submodule "tomlplusplus"]
	path = tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "ChaiScript"]
	path = ChaiScript
	url = https://github.com/ChaiScript/ChaiScript
